/*fonts*/

@font-face {
  font-family: 'cofosandsreg';
  src: url(../fonts/CoFo_Sans_LaModa-Regular.woff)
}

/*universals*/

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: 'cofosandsreg';
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
}

html {
  background: #fff;
  color: #000;
}

.defaulp{
  width: 100%;
  padding: 6px 12px 6px 12px;
}
/*navbar*/

.navbar {
  width: 100%;
  padding: 6px 12px 6px 12px;
  background: #03FF4A;
  position: fixed;
  top: 0;
}

h3.logotype {
  text-decoration: line-through;
}

/*grid*/

.bodygrid {
  margin-top: 230px;
  transition: 0.3s;
}

ul.gridsnap {
  width: 100%;
  padding: 0;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
}

li.cardhold {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

/*headline*/

.headl {
  margin: 0;
  padding: 0;
  font-size: 12vw;
  transition: 0.3s;
}

.small {
  font-size: 16px;
  transition: 0.3s;
}

#item0 {
  text-decoration: line-through;
}

/*cards*/

.titlecard {
  width: 100%;
  padding: 24px 12px 24px 12px;
  scroll-snap-align: start;
}

h3 {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'cofosandsreg';
  font-weight: 100;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.infocard {
  display: none;
}

.expand {
  width: 10px;
  height: 10px;
  float: right;
  margin: 0;
  padding: 0;
  line-height: 0px;
  transition: 0.3s;
}

.invention {
  text-decoration: line-through;
  font-size: 24px;
  transition: 0.3s;
}

h3.expansion {
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 8px;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 12vw;
  transition: font-size 0.3s;
}

.showcard {
  display: block;
}

.rota {
  transform: rotate(45deg);
  transition: 0.3s;
}

/*button*/

.button {
  border-radius: 30px;
  border: 1px solid black;
  text-align: center;
  margin-top: 12px;
}
