/*fonts*/

/*universals*/

* {
  box-sizing: border-box;
  line-height: normal;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}

html {
  background: #fff;
  color: #000;
}

.defaulp{
  width: 100%;
  max-width: 600px;
  padding: 6px 12px 6px 12px;
}
/*navbar*/

.navbar {
  width: 100%;
  padding: 6px 5% 6px 5%;
  background: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5 !important;
}

.headlinehold {
  margin-left: 0;
  margin-top: 5vh;
  margin-bottom: 5vh;
  transition: 0.3s;
  padding-top: 12px;
  padding-bottom: 12px;
}

.headlinemargin {
  margin-left: 17.5vw;
}

#toppar {
  font-family: "Base-9-sans", sans-serif;
  font-size: 24px;
}

.holdspace {
    width: 40vw;
}

h3.logotype {
  text-decoration: line-through;
}

/*grid*/

#topguy {
  height: 90px;
  background: none;
  opacity: 0;
}

.bodygrid {
  transition: 0.3s;
  margin-top: 90px;
  position: relative;
  scroll-snap-type: y mandatory;
  &.proximity {
            scroll-snap-type: y proximity;
          }
}

.snapbox {
  scroll-snap-type: y mandatory;
  &.proximity {
            scroll-snap-type: y proximity;
          }
}

.noscroll {
  overflow-y: hidden;
  height: 100vh;
}

.stickify {
  position: sticky;
}

.scrollhide {
  display: none;
}

ul.gridsnap {
  width: 100%;
  padding: 0;
}

li.cardhold {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

/*headline*/

.headl {
  font-size: 8vw;
  font-weight: 800;
}

.small {
  font-size: 30px;
}

.strikethrough {
  text-decoration: line-through;
}

@keyframes typing {
  0% {
    width: 0;
    border-right: .25rem solid orange;
  }

  60% {
    width: 100%;
  }

  100% {
    border-right: 0rem solid orange;
  }

}

#item0 {
  font-weight: 800;
}

#one {
  position: relative;
  margin: 0;
  padding: 0;
}

#two {
  position: relative;
  margin: 0;
  padding: 0;
}

#three {
  position: relative;
  margin: 0;
  padding: 0;
}

#one::after {
  border-bottom: 0.125em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

#two::after {
  border-bottom: 0.125em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

#three::after {
  border-bottom: 0.125em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.animater {
  width: auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: none; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  padding-right: 0.4rem;/* Gives that scrolling effect as the typing happens */
  letter-spacing: -0.1; /* Adjust as needed */
  animation: typing 0.6s steps(3, end);
}

@media only screen and (max-width: 1000px) {

  .headl {
    font-size: 60px;
  }

  .small {
    font-size: 30px;
  }

  .headlinemargin {
    margin-left: 0;
  }

  #toppar {
    font-size: 18px;
  }

}

/*cards*/

.titlecard {
  width: 100%;
  padding: 24px 5% 24px 5%;
  scroll-snap-align: start;
}

h3 {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "base-9-sans";
  font-weight: 200;
  letter-spacing: -0.2rem;
}

h2 {
  text-transform: uppercase;
  font-family: "base-9-sans";
  font-weight: 200;
  margin: 0;
  padding: 0;
  letter-spacing: -0.1rem;
}

.noname {
  margin: 0;
  padding: 0;
  font-size: 12vw;
  transition: 0.3s;
  text-decoration: none;
}

.infocard {

}

.infoexpansion {
  display: none;
}

.inforight {
  display: none;
}

.expand {
  width: 48px;
  height: 16px;
  float: right;
  margin: 0;
  padding: 0;
  line-height: 0px;
  transition: 0.3s;
}

.invention {
  font-size: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.strike {
  font-size: 40px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  letter-spacing: -0.05em;
}

.strike::after {
  border-bottom: 0.125em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

h3.expansion {
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 12px;
  font-family: "base-9-sans";
  font-size: 40px;
  cursor: pointer;
}

.name {
  cursor: default;
  font-size: 40px;
  line-height: 120%;
}

.showcard {
  display: block;
  cursor: default;
}

.rota {
  transform: rotate(45deg);
  transition: 0.3s;
}

.infoparagraph {
  font-family: "base-12-serif";
  font-size: 16px;
  line-height: 140%;
  padding: 0;
  margin: 0;
}

.infocardchild {
  display: none;
}

.infoparahold {
  width: 100%;
  max-width: 800px;
}

.featimg {
  width: 100%;
  mix-blend-mode: multiply;

}

.captiontxt {
  font-family: "base-9-sans";
  font-size: 12px;
}

.inforightshow {
  display: block;
}

.infoleft {
}

.fullspan {

}

.iconcol {
  display: none;
}

.incondisp {
  display: block;
  float: right;
}

.linkout {
  width: 40px;
}

@media only screen and (min-width: 1000px) {

  .infoparagraph  {
    font-size: 17px;
  }

  .incondisp {
    margin-top: -50px;
  }

  .fullspan {
    display: grid;
    grid-template-columns: 27% 27% 22% 10%;
    grid-column-gap: 5%;
  }

  .infobridge {

  }

  .inforightshow {

  }

}

/*button*/

.button {
  border: 3px solid black;
  text-align: center;
  margin-top: 12px;
  max-width: 300px;
  background: #fff;
  height: 60px;
}

.button:hover {
  box-shadow: -2px 2px 0px #000000;
  cursor: pointer;
}

/*footer*/

.trigrid {
  display: block;
  width: 100%;
  padding: 24px 5% 60px 5%;
  font-family: "base-9-sans";
}

.trigrid>div {
  padding-bottom: 36px;
}

.trigridchildhold {
  width: 100%;
  max-width: 400px;
}

.social {
  text-align: left;
  font-size: 1.4em;
}

.copyright {
  font-size: 1.4em;
}

@media only screen and (min-width: 1000px) {

  .trigrid {
    display: grid;
    grid-template-columns: 46% 30% 24%;
    grid-column-gap: 12px;
  }

  .social {
    text-align: right;
  }

  .trigridchildhold{
    align-self: center;
  }

  .social {
    align-self: center;
  }

}
