/*housekeeping*/

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: monospace;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
}

html {
  background: #fff;
  color: #000;
}

/*navbar*/

.navbar {
  width: 100%;
  padding: 6px 12px 6px 12px;
  background: #03FF4A;
  position: fixed;
  top: 0;
}

h3.logotype {
  text-decoration: line-through;
}

/*grid*/

.bodygrid {
  margin-top: 50px;
}

ul.gridsnap {
  width: 100%;
  padding: 0;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
}

li.cardhold {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

/*cards*/

.titlecard {
  width: 100%;
  padding: 6px 12px 6px 12px;
  border-top: 1px solid red;
  scroll-snap-align: start;
}



h3 {
  color: red;
  font-size: 16px;
  font-family: monospace;
  font-weight: 100;
}

.infocard {
  display: none;
}

h3.invention {
  text-decoration: line-through;
}

h3.expansion {
  text-align: right;
}
