footer 
  .trigrid
    .trigridchildhold
      .copyright 
        | A Selman Project
    .typeset
      | This website is typeset in 
      a(href="") Base 9 
      |and 
      a(href="") Base 12,
      |a pioneering type family designed for the screen by Zuzana Licko in 1995.
    .social
      | © 2020
