footer 
  .trigrid
    .trigridchildhold
      .copyright 
        | A 
        a.topl(href="https://selmandesign.com/") Selman 
        | Project
    .colfill
    .typeconstrain
      .typeset
        | This website is typeset in 
        a(href="https://fonts.adobe.com/fonts/base-9-12") Base 9
        |, and 
        a(href="https://fonts.adobe.com/fonts/base-9-12") Base 12
        | by Zuzana Licko
    .colfill
    .disclaim
        | The content of this website contains information, photographs, and media intended solely for educational purposes.
    .social
      | © 2020
    
