footer 
  .trigrid
    .trigridchildhold
      .copyright 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan magna non vulputate lacinia. Morbi nisi erat, tincidunt at dapibus in, pretium quis quam.
        br
        br
        | © 2020 Selman
    .typeset
      | Proudly typeset in Base 9 and Base 12
    .social
      | Instagram
      | Twitter
