include ../templates/inventionblock
.bodygrid
  .snapbox
    ul.gridsnap
      li.cardhold
        +inventionblock(
          "Computer",
          "Algorithm",
          "",
          "Ada Lovelace",
          "Ada Lovelace wrote the first algorithm for Charles Babbage's Analytical Engine, a mechanical general-purpose computer, begun in 1933. She recognized a much greater potential for a machine intended to perform calculations.",
          "A mathemetician in the early 19th Century, Lovelace realized numbers could be used to represent information other than quantity, in effect writing the first piece of computer software. For her contributions she has been regarded by many as an early prophet of the internet age. ",
          "../images/_Ada_Lovelace.png",
          "A painting of Ada Lovelace (1815 –1852) seated at a piano. By Henry Phillips (1852).",
          "https://en.wikipedia.org/wiki/Ada_Lovelace"
        )
      li.cardhold
        +inventionblock(
          "Wireless",
          "Transmission",
          "Technology",
          "Hedy Lamarr",
          "Hedy Lamarr designed a “signal hopping” system that allowed militaries to send secure, unblockable radio signals during WWII. With the help of composer George Antheil, this technology would later be implemented by the US Navy to prevent the jamming of signals when firing torpedoes. This spread spectrum technology was paramount in the development of the wireless communication implemented in WiFi, BlueTooth, and GPS. Without Lamarr's contributions, none of this technology would be possible.",
          "This spread spectrum technology was paramount in the development of the wireless communication implemented in wifi, bluetooth, and GPS. Without Lamarr's contributions, none of this technology would be possible.",
          "../images/_Hedy_Lamarr.png",
          "The actress turned inventor, Hedy Lamarr (1914–2000), at home with a much more commonplace radio. Image: Everett Collection (1944).",
          "https://en.wikipedia.org/wiki/Hedy_Lamarr"
        )
      li.cardhold
        +inventionblock(
          "Compiler",
          "",
          "",
          "Grace Hopper",
          "Grace Hopper was a pioneer of computer programming and the inventor of the first compiler, a utility program that converted English terms into machine code understood by computers. Her contributions were a catalyst for massive advancements in the early days of computer programming.",
          "A rear admiral in the US Navy, Hopper aided in the war effort as one of the programmers for the Mark I computer during WWII. In addition to the compiler, Hopper assisted in the development of COBOL, an early high-level programming language that built upon her FLOW-MATIC language.",
          "/images/_Grace_Hopper.jpg",
          "Grace Murray Hopper (1906-1992) in her office in Washington DC. Image: Lynn Gilbert (1978).",
          "https://en.wikipedia.org/wiki/Grace_Hopper"
        )
      li.cardhold
        +inventionblock(
          "CLI",
          "Shell",
          "",
          "Glenda Schroeder",
          "Glenda Schroeder implemented the first command-line user interface shell while working at the MIT Computation Center in 1965. The innovation provided a straightforward interface to early computers, immediately making them more accessible to the world. ",
          "In addition to work with user interface systems, Schroeder published one of the earliest research papers describing electronic mail systems. Although her initial ideas functioned differently than the contemporary function of email, Schroeder's paper opened the door for later advancements.",
          "../images/_Glenda-Schroeder.jpg",
          "",
          "https://en.wikipedia.org/wiki/Glenda_Schroeder"
        )
      li.cardhold
        +inventionblock(
          "word",
          "processor",
          "",
          "Evelyn Berezin",
          "Evelyn Berezin designed Data Secretary, the first computer word processor. After designing some of the earliest computer systems for a variety of corporate industries, sexual discrimination stalled her career advancement. This motivated the founding of her own company Redactron, which produced the Data Secretary.",
          "The machine was essentially a screenless computer with a keyboard and printer interface, making the transition from typewriters easy for people using the device. Although it was ultimately commercially unsuccessful, Berezin's invention catalyzed a core function and fundamental interaction between user and computer.",
          "../images/_Evelyn_Berezin.png",
          "Evelyn Berezin (1925–2018) with Data Secretary, the first computerized word processor. Image: Barton Silverman/The New York Times (1976).",
          "https://en.wikipedia.org/wiki/Evelyn_Berezin"
        )
      li.cardhold
        +inventionblock(
          "Home",
          "Security",
          "System",
          "Marie Van Brittan Brown",
          "in 1966 Marie Van Brittan Brown and her husband invented and applied for a patent on the first home security system. Frustrated over the lack of police response she saw evident in her neighborhood of Jamaica, Queens, New York City, she aimed to enhance protection and peace of mind for homeowners.",
          "Her system implemented cameras, closed-circuit televisions, wirelessly controlled locks, and a button to send an alarm signal to police or security. Brown's invention extended beyond homes and began appearing in businesses, eventually inspiring CCTV security systems. Today's modern, web and app-based smart home security systems are built largely on the system and ideas first developed by Brown..",
          "../images/_Marie_VanBrittan_Brown.jpg",
          "Marie Van Brittan Brown (1922-1999) and husband, presenting the patent drawing for her audio/video home alarm system. Image: The New York Times.",
          "https://en.wikipedia.org/wiki/Marie_Van_Brittan_Brown"
        )
      li.cardhold
        +inventionblock(
          "TCP",
          "",
          "",
          "Judith Estrin",
          "Judith Estrin played a key role in the development of the Transmission Control Protocol. Known commonly as TCP, it is one of two foundational protocols the internet relies on, allowing for the reliable, ordered, and error-checked delivery of information between applications, servers, and devices. ",
          "In addition to her contributions to the creation of TCP, Estrin has founded and held executive roles in several technology companies throughout her career. From founding networking companies to being CTO of Cisco Systems, she has spent a lifetime connecting the world's devices.",
          "../images/_Judith_Estrin.jpg",
          "Judith Estrin (born 1954), shown here with her 2008 book “Closing the Innovation Gap.” Image: Noah Berger for The New York Times.",
          "https://en.wikipedia.org/wiki/Judith_Estrin"
        )
      li.cardhold
        +inventionblock(
          "Computerized",
          "Telephone",
          "Switching",
          "Erna Schneider Hoover",
          "Erna Schnider Hoover invented Stored Program Control, which she implemented in computerized telephone switching while working at Bell Laboratories. This technology gave call centers the ability to monitor and prevent system overloads at peak calling times, greatly improving experiences.",
          "Hoover's technology revolutionized the calling process and would ultimately bring an end to human telephone operators. Her patent for this technology is one of the first-ever given for a piece of computer software.",
          "../images/_Erna_Schneider_Hoover.jpg",
          "Erna Schneider Hoover (born 1926) helped automate the capacity for telephone networks to meet increasing demand for communication. Image: Seattle Municipal Archives (1952).",
          "https://en.wikipedia.org/wiki/Erna_Schneider_Hoover"
        )
      li.cardhold
        +inventionblock(
          "STP",
          "",
          "",
          "Radia Perlman",
          "Radia Perlman invented the Spanning Tree Protocol (STP), ensuring error-free connections between servers. Perlman's innovation was to locate redundant paths in the network (known as loops) and to remove these unnecessary instances. This vastly improved network resilience and made it possible to build the massive, reliable networks we have today.",
          "Perlman is also an early advocate of teaching computer science to children. In the 1970s she developed a child-friendly version of a coding language that allowed children as young as 3 to program a robot.",
          "../images/_Radia_PerIman.jpg",
          "Radia Perlman (born 1951) is recognized for establishing the basic rules of traffic on the internet and has earned roughly 80 patents throughout her career.",
          "https://en.wikipedia.org/wiki/Radia_Perlman"
        )
      li.cardhold
        +inventionblock(
          "Computer",
          "Iconography",
          "",
          "Susan Kare",
          "Susan Kare created icons and typefaces for Apple Computers that set the standard for quality user interface design. An early pioneer of pixel art, she leveraged her art history background with wit and humor to create an enormous library of icons that delighted early MacOS users. Her typeface Cairo, influenced by Egyptian hieroglyphics, is a broad library of icons spanning from briefcases to sunny side up eggs. It marked the first instance where users could communicate digitally with what we now call “emojis”.",
          "Her approach to system design sidestepped a potentially dry and technical interface and instead introduced a clear, yet enjoyable standard that users interact with today.",
          "../images/_Susan_Kare.png",
          "Susan Kare (born 1954), at her desk at Apple Computers. Image: Norman Seeff (1984).",
          "https://en.wikipedia.org/wiki/Susan_Kare"
        )
      li.cardhold
        +inventionblock(
          "text",
          "Donations",
          "",
          "Marian R Croak",
          "Marian Croak was paramount in the development of Voice Over Internet Protocol (VoIP) with over a hundred patents related to the technology. This technology has helped cut the costs of communication drasticly and opened the door for voice calling via the internet.",
          "In addition to her work on VoIP, Croak holds the patent for charitable donations via text message. Now a common practice, her advancements made it significantly easier for people to make donations as mobile devices become a daily facet of life.",
          "../images/_Marian_Croak.png",
          "Marian Croak (born 1955) paved the way for online messaging and video conferencing and big players like Skype, with her invention of VIOP.",
          "https://en.wikipedia.org/wiki/Marian_Croak"
        )
      li.cardhold
        +inventionblock(
          "Cisco",
          "",
          "",
          "Sandy Lerner",
          "Sandy Lerner is the co-founder of Cisco, the networking software, telecommunications, and other high technology products. ",
          "",
          "../images/_Sandy_Lerner.png",
          "Sandy Lerner (born 1955) co-founded Cisco Systems in 1984. Image: Standford Libraries (1980s).",
          "https://en.wikipedia.org/wiki/Sandy_Lerner"
        )
      li.cardhold
        +inventionblock(
          "Regional",
          "IP",
          "Networks",
          "Susan Estrada",
          "Susan Estrada founded CERFnet, one of the first regional computer networks. Hoping to connect computers across Californian educational institutions, CERFnet emerged from a proposal Estrada's made to the National Science Foundation. Utilizing this grant, Estrad worked to grow the network from 25 devices, to hundreds. Frustrated with the restrictions of academic internet, which allowed only governmental and research traffic, she collaborated with commercial partners to create the first publicly accessible internet exchange.",
          "Estrada continues to consult on internet infrastructure and develops new technologies to encourage older adult usage of the web.",
          "../images/_Susan_Estrada.jpg",
          "Susan Estrada's leadership created the first regional IP network, subsequently evolving it from an academic to a publicly accessible exchange. Image: The Internet Hall of Fame/YouTube (2014).",
          "https://en.wikipedia.org/wiki/Susan_Estrada"
        )
      //
        li.cardhold
          +inventionblock(
            "FTP",
            "",
            "",
            "Joyce K Reynolds",
            "Joyce K. Reynolds was an American computer scientist credited with developing many protocols critical to the internet. Ensuring secure file transfers between devices and servers, Reynolds developed the Telnet, File Transmission Protocol (FTP). These principals are widely used across the internet today, having evolved into the HTTP at the start of a URL. Reynolds's influence can also be seen at the end of web addresses. Helping to establish the global allocation of IP addresses, Reynolds played a role in the standardization and management of .com, .net and .org extensions. Continuing this work, she later supervised the transition of these and other functions to ICANN (Internet Corporation for Assigned Names and Numbers). ",
            "A prolific thinker, these are but a few of Reynolds's contributions. Her many authored and co-authored specifications, proposals, memorandums, and protocols have played a pivotal role in shaping the internet and influencing its governing bodies.",
            "../images/_"
          )
      li.cardhold
        +inventionblock(
          "Web",
          "Browser",
          "",
          "Nicola Pellow",
          "As an undergraduate math student, Nicola Pellow joined the nineteen members of the WWW Project at Sweden's CERN in 1990. Building off her colleague's work, Pellow contributed to the creation of a web browser compatable across many operating systems. After its launch in May 1991 she continued to help increase compatability, making web browsing more broadly available to users around the world. .",
          "After finishing her studies, Pellow returned to work with CERN and helped create the first web browser for the classic MacOS on Apple computers, called MacWWW.",
          "../images/_Nicola_Pellow.jpg",
          "Nicola Pellow with colleague Tim Berners-Lee in their office at CERN in Switzerland. (Circa early 1990s).",
          "https://en.wikipedia.org/wiki/Nicola_Pellow"
        )
      li.cardhold
        +inventionblock(
          "gnFIDO",
          "",
          "",
          "Karen Banks",
          "Karen Banks is an Australian-born networking expert and advocate recognized for championing information and communications technologies (ICTs) as tools for social change.",
          "From 1990–1997 Banks maintained GnFido, an international gateway developed by the non-profit GreenNet, that provided internet access to unserved areas across Africa, South Asia, and Eastern Europe. She was a founding member of the Association for Progressive Communications and in 1993 formed the APC Women's Networking Support Programme.",
          "../images/_Karen_Banks.jpg",
          "Karen Banks, pictured here with Charles Muisi and Bill Sangiwa, works to ensure free and open internet access to underserved countries and communities.",
          "https://en.wikipedia.org/wiki/Karen_Banks"
        )
      li.cardhold
        +inventionblock(
          "Random",
          "Early",
          "Detection",
          "Sally Floyd",
          "Sylvia Ratnasamy is a Belgian-Indian computer scientist known as one of the inventors of the distributed hast table (DHT). Begun as her doctoral thesis at UC Berkley, she continues her work as a professor of computer science. ",
          "This research was in part motivated by peer-to-peer systems, exemplified by platforms such as BitTorrent, Napster, or Spotify. These systems aggregate resources across the internet to present a singular application for the end-user. In contrast to hash tables, the innovation of the DHT allows more flexible, ongoing expansion without complicating access to existing data. It is a crucial tool used by companies, corporations, hospitals, and governments around the world today.",
          "../images/_Sally_Floyd.jpg",
          "Sally Floyd (1950-2019) worked to control router congestion, keeping the internet running smoothly for all internet users, reguardless of connection speed.",
          "https://en.wikipedia.org/wiki/Sally_Floyd"
        )
      li.cardhold
        +inventionblock(
          "Distributed",
          "hash",
          "table",
          "Sylvia Ratnasamy",
          "Sylvia Ratnasamy is a Belgian-Indian computer scientist known as one of the inventors of the distributed hast table (DHT). Begun as her doctoral thesis at UC Berkley, she continues her work as a professor of computer science.  ",
          "This research was in part motivated by peer-to-peer systems, exemplified by platforms such as BitTorrent, Napster, or Spotify. These systems aggregate resources across the internet to present a singular application for the end-user. In contrast to hash tables, the innovation of the DHT allows more flexible, ongoing expansion without complicating access to existing data. It is a crucial tool used by companies, corporations, hospitals, and governments around the world today.",
          "../images/_Sylvia_Ratnasamy.jpg",
          "Sylvia Ratnasamy's work is a catalyst for Peer to Peer innovations.",
          "https://en.wikipedia.org/wiki/Sylvia_Ratnasamy"
        )
      li.cardhold
        +inventionblock(
          "Virtual",
          "Reality",
          "Filmmaking",
          "Jessica Brillhart",
          "Jessica Brillhart is an American director, writer, and theorist, recognized for her immersive filmmaking techniques. As a principal filmmaker at Google, she helped lead early 360-degree video experiments and the first virtual reality film, titled “World Tour,” using their Jump platform.",
          "Brillhart developed Probabilistic Experiential Editing, a new technique built to match the editing needs of VR storytelling, and founded Vrai Pictures, dedicated to creating immersive and emotional experiences for emerging technologies. “Traverse,” her spatial audio platform, debuted at the SXSW Festival in 2019 with audio experiences from Elvis Presley and NASA’s InSight Mars Mission.",
          "../images/_Jessica_Brillhart.jpg",
          "Director Jessica Brillhart with a 360 degree goPro camera array used for filming for VR.",
          "https://en.wikipedia.org/wiki/Jessica_Brillhart"
        )
