include ../templates/inventionblock
.bodygrid
  ul.gridsnap
    li.cardhold
      +inventionblock(
        "Compiler",
        "Grace hopper",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "word processors",
        "Evelyn Berezin",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Wireless Transmission Technology",
        "Hedy Lamar",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Computer Algorithms",
        "Ada Lovelace",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Computer Iconograph",
        "Susan Kare",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Home Security System",
        "Marie Van Brittan Brow",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Computerized Telephone Switching",
        "Erna Schneider Hoover",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "gnFIDO",
        "Karen Banks",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
