include ../templates/inventionblock
.bodygrid
  ul.gridsnap
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
    li.cardhold
      +inventionblock(
        "Compiler",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae egestas neque. Phasellus fermentum pellentesque sem et efficitur. Maecenas elementum quam id ex laoreet, ac semper purus vestibulum. Phasellus dictum lacinia hendrerit. Nullam mollis convallis ultricies. Ut volutpat feugiat posuere. Praesent egestas sodales urna eu varius. "
      )
