include ../templates/inventionblock
.bodygrid
  .snapbox
    ul.gridsnap
      li.cardhold
        +inventionblock(
          "Compiler",
          "Grace Hopper",
          "Grace Hopper was a pioneer of computer programming and the inventor of the first linker, a utility program fundamental to the operation of computers as we know them. Her contributions were a catalyst for massive advancements in computer programming including the development of COBOL, an early high-level programming language."
        )
      li.cardhold
        +inventionblock(
          "Regional IP Networks",
          "Susan Estrada",
          "Helped create one of the original regional IP networks which helped create the first commerical internet traffic, helping us know our locations of where we are surfing the web."
        )
      li.cardhold
        +inventionblock(
          "Web Browser",
          "Nicola Pellow",
          "Nicola Pellow is a mathatecian who is recognized for developing the first cross-platform internet browser, Line Mode Browser, which is credited for making the internet accessible to consumers for the first time. She was one of the nineteen people creditted for the WWW Project at CERN."
        )
      li.cardhold
        +inventionblock(
          "FTP",
          "Joyce K Reynolds",
          "Reynolds played a significant role in developing protocols underlying the Internet. She authored or co-authored many RFCs, most notably those introducing and specifying the Telnet, FTP, and POP protocols, all of which allow us to send emails that allow and reject emails."
        )
      li.cardhold
        +inventionblock(
          "word processors",
          "Evelyn Berezin",
          "Without Evelyn's invention of word processing in 1971, you'd be keeping your roomate up with your typewriter. "
        )
      li.cardhold
        +inventionblock(
          "Wireless Transmission Technology",
          "Hedy Lamar",
          "Heddy Lamarr's system to send secure, unblockable messages during World War II paved the way for wireless connectivity in modern devices."
        )
      li.cardhold
        +inventionblock(
          "Computer Algorithms",
          "Ada Lovelace",
          "In the early 19th Century Ada Lovelace recognized the potential for Charles Babbage's Analytical Engine, one of the first interpretations of the modern computer, by writing the first algorithm for the device earning her the title of the First Computer Programmer."
        )
      li.cardhold
        +inventionblock(
          "Computer Iconograph",
          "Susan Kare",
          "Susan Kare's typefaces and icons defined the visual style of Apple's first computers, setting the standard for user interface design that can still be seen today."
        )
      li.cardhold
        +inventionblock(
          "Home Security System",
          "Marie Van Brittan Brow",
          "Living in Queens, NYC at a time when crime was high in her neighborhood and with the police trailing too far behind, Marie Van Brittan invented her own security system that rang all the alarms for home security."
        )
      li.cardhold
        +inventionblock(
          "Computerized Telephone Switching",
          "Erna Schneider Hoover",
          "Erna Schneider Hoover developed a computerized telephone switching method that revolutionized telecommunications, which prevented system overloads allowing call centers to keep up with peak calling times."
        )
      li.cardhold
        +inventionblock(
          "Donations via Text Message",
          "Marian R Croak",
          "Marian R Croak was a pioneer in VOIP technology which allows you to acceess broadband services online, helping cut the costs of telephone bills. "
        )
      li.cardhold
        +inventionblock(
          "gnFIDO",
          "Karen Banks",
          "Karen Banks maintained an international gateway (GnFido) to provide an international network  dedicated to creating and sustaining a free and open Internet in the 1990's."
        )
      li.cardhold
        +inventionblock(
          "STP",
          "Radia Perlman",
          "The Spanning Tree Protocol developed by Radia Perlman in the 1980s is fundamental to network bridges which allow a network to be broken into segments."
        )
      li.cardhold
        +inventionblock(
          "Transmission Control Protocol",
          "Judith Estrin",
          "TCP/IP work hand in hand to allow your emails to be delivered at the speed of light through the internet as the TCP/IP dictates the rules for the mail to go directly to the website."
        )
      li.cardhold
        +inventionblock(
          "Random Early Detection",
          "Sally Floyd",
          "Lorem Ipsum"
        )
      li.cardhold
        +inventionblock(
          "CLI Shell",
          "Glenda Schroeder",
          "Lorem Ipsum"
        )
      li.cardhold
        +inventionblock(
          "Distributed hash table",
          "Sylvia Ratnasamy",
          "One of the inventors of the distributed hash table, Ratnasamy helped develop the networking system that helps create a peer to peer network that is accessible through multiple users. It allows the access of a database that is stored remotely and used largely in companies, hospitals, government, as well as p2p sharing (remember napster?)"
        )
