.holdspace
  a.topl(href="/")
    h2.headl#item0 
      span#one w
      span#two e
      span#three b
h2.headl.collapse#item1 without
h2.headl.collapse#item2 women 
.defaulp#nomarg
  p.infoparagraph#toppar A collection of innovations by women in the fields of computer science and technology.
