head
  //title
  title #{title}
  //fonts
  link(link rel="stylesheet" href="https://use.typekit.net/ecj4tbd.css")
  //stylesheet
  link(rel='stylesheet', href='/css/style.css')
  //housekeeping
  meta(name="viewport" content="width=device-width, initial-scale=1")
