mixin inventionblock(titlea, titleb, titlec, name, body, bodyb, picture)
  .titlecard
    .expand
      h3.expansion +
    .spacer
    .infocard
      .infobridge
        .infoleft
          .invention
            h2.invention
              span.strike=titlea
              span.strike=titleb
              span.strike=titlec
          .infoexpansion
            h2.name Without
            h2.name
              =name
            .infocardchild
              .infoparahold
                p.infoparagraph
                  =body
                  br
                  br
                  =bodyb    
        .inforight
          .imghold
            img.featimg(src=picture)
          .caption
            p.captiontxt 
              | Lorem ipsum dolor sit amet consect eteur adipscing elit eres nonum esect apiscing eres ecto.
              br
              br
              | Photo: Credit Name,
              br
              | circa 1954
