mixin inventionblock(title, name, body)
  .titlecard
    .expand
      h3.expansion +
    .spacer
    .invention
      h2.invention
        =title
    .infocard
      h2.name Without
      h2.name=name
      .infocardchild
        .infoparahold
          p.infoparagraph=body
        .button
          p.infoparagraph CTA FPO
