doctype html

html
  header
    include ../templates/header
  body
    include ../templates/navbar
    include ../templates/grid
    
    script(src='../JS/style.js')
    script(src='../JS/jquery.min.js')
    
    
      
