doctype html

html
  header
    include ../templates/header
  body
    include ../templates/navbar
    include ../templates/rain
    include ../templates/grid
    include ../templates/footer
    script(src='../JS/jquery.min.js')
    script(src='../JS/jquery.scrollify.js')
    script(src='../JS/style.js')
    
    
    
      
